.lb-page-container {
    background-image: url("../assets/background-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    place-items: center;
    z-index: -69;
}

.lb-page-title-container {
    display: flex;
    place-items: center;
    margin-bottom: none;
    margin-right: 3vw;
}

.lb-page-header-container {
    display: flex;
    place-items: center;
    position: relative;
    margin-bottom: -2vh;
    z-index: 1;
}

